.a-product {
    font-weight: bold;
    font-size: 20px;
}

.img_categ {
    padding-bottom: 20px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.categ_item {
    width: 20%;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 600px){
    .categ_item{
        min-width: 150px;
    }
}



